version: "3"
services:
  socket:
    build:
      context: ../
      dockerfile: docker/dev.Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ../:/app
    restart: unless-stopped